<main class="home-main">
    <a (click)="goToProfile()" title="Aller sur mon profil">
        <img class="home-img-account" src="../../assets/images/account.png">
    </a>
    <img class="home-picture" src="../../assets/images/banniere.png">
    <h1 class="home-title">Liste des adhérents</h1>
    <div class="home-users" fxLayout="column" fxLayoutAlign="center center">
        <mat-card *ngFor="let user of users$" fxLayoutAlign="center center" routerLink="/users/{{user._id}}">
            <mat-card-title>{{ getName(user.lastName, user.firstName) }}</mat-card-title>
        </mat-card>  
    </div>
        <button class="home-form-button" mat-flat-button type="submit" routerLink="/create">Créer un nouvel adhérent</button>
</main>

