<h2 mat-dialog-title>Création de compte</h2>
<div mat-dialog-content>
    <form [formGroup]="registerForm" fxLayout="column">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresse mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numéro de téléphone</mat-label>
            <input matInput formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions fxLayoutAlign="center">
    <button mat-button (click)="registerProfile()">Enregister</button>
    <button mat-button mat-dialog-close>Annuler</button>
</div>

