.add-passion-main{

    .add-passion-picture{
        display: block;
        margin: auto;
        width: 80%;
        height: 300px;
    }

    .add-passion-return-icon{
        width: 50px;
        margin-left: 50%;
        cursor: pointer;

        &:hover{
            transform: scale(1.4);
        }
    }

    .add-passion-title{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 50px;
        font-weight: 400;
    }

    .add-passion-form{
        width: 30%;
      
        .add-passion-form-button{
            display: block;
            background-color: black;
            color: white;
            margin: 20px auto;

            &:hover{
                box-shadow: 5px 5px 5px white;
            }
        }
    }
}