<h2 mat-dialog-title>Modification du mot de passe</h2>
<div mat-dialog-content>
    <form [formGroup]="updatePasswordForm" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
            <mat-label>Ancien mot de passe</mat-label>
            <input matInput formControlName="previousPassword" type="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nouveau mot de passe</mat-label>
            <input matInput formControlName="newPassword" type="password">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button [disabled]="updatePasswordForm.valid" mat-button (click)="updatePassword()">Modifier</button>
</div>
