<main class="login-main" fxLayout="column" fxLayoutAlign="start center">
    <img class="login-picture" src="../../assets/images/banniere.png">
    <form class="login-form" fxLayout="column" >
        <mat-form-field>
            <mat-label>Login</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput>
        </mat-form-field>
        <button class="login-form-button" mat-flat-button  type="submit" (click)="goToHomePage()">Connexion</button>
    </form>
</main>
