<main class="add-passion-main" fxLayout="column" fxLayoutAlign="start center">
    <img class="add-passion-picture" src="../../assets/images/banniere.png">
    <a (click)="goBackToUser()" fxFlexAlign="start" title="Retour">
        <img src="../../assets/images/return.png" alt="return to home page" class="add-passion-return-icon" />
    </a>
    <h2 class="add-passion-title">Création d'une nouvelle passion</h2>
    <form [formGroup]="passionForm" class="add-passion-form" fxLayout="column" (ngSubmit)="addPassion()">
        <mat-form-field>
            <mat-label>Libellé</mat-label>
            <input matInput formControlName="libelle">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Informations</mat-label>
            <input matInput formControlName="informations">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Depuis quelle date</mat-label>
            <input matInput formControlName="date" type="date">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Exemples</mat-label>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let example of examples">{{example}}</mat-chip>
                <input placeholder="Exemple..." [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addExample($event)">
            </mat-chip-list>
        </mat-form-field>
        <button mat-flat-button class="add-passion-form-button" type="submit">Enregistrer</button> 
    </form>
</main>
