<main class="add-passion-main" fxLayout="column" fxLayoutAlign="start center">
    <img class="add-passion-picture" src="../../assets/images/banniere.png">
    <a (click)="goBackToUser()" fxFlexAlign="start" title="Retour">
        <img src="../../assets/images/return.png" alt="return to home page" class="add-passion-return-icon" />
    </a>
    <h2 class="add-passion-title">{{title}}</h2>
    <form [formGroup]="passionForm" class="add-passion-form" fxLayout="column" (ngSubmit)="passionId ? updatePassion() : addPassion()">
        <mat-form-field>
            <mat-label>Libellé</mat-label>
            <input matInput formControlName="libelle">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Informations</mat-label>
            <textarea matInput formControlName="informations"></textarea>
        </mat-form-field>
        <mat-form-field (click)="datepicker.open()">
            <mat-label>Depuis quand ?</mat-label>
            <input [matDatepicker]="datepicker" formControlName="date" matInput readonly/>
            <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        <mat-form-field>
            <mat-label>Exemples</mat-label>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let example of examples">{{example}}</mat-chip>
                <input placeholder="Exemple..." [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addExample($event)">
            </mat-chip-list>
        </mat-form-field>
        <button mat-flat-button class="add-passion-form-button" type="submit">Enregistrer</button> 
    </form>
</main>
