.profile-main{

    .profile-picture{
        display: block;
        margin: auto;
        width: 80%;
        height: 300px;
    }

    .profile-return-icon{
        width: 50px;
        margin-left: 50%;
        cursor: pointer;
    }

    .profile-title{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 50px;
        font-weight: 400;
    }

    .profile-form{
        width: 30%;

        .profile-form-button{
            display: block;
            background-color: black;
            color: white;
            margin: 20px auto;

            &:hover{
                box-shadow: 5px 5px 5px white;
            }
        }
    }

    .profile-link-to-update-password{
        margin-bottom: 30px;
        text-decoration: underline;
        cursor: pointer;
        color: orange;
    }
}