<main class="details-main" fxLayout="column" fxLayoutAlign="start center">
    <img class="details-picture" src="../../assets/images/banniere.png">
    <a fxFlexAlign="start" (click)="goBackHome()">
        <img src="../../assets/images/return.png" alt="return to home page" class="details-return-icon" />
    </a>
    <h2 class="details-title">Informations adhérent</h2>
    <form [formGroup]="updateForm" class="details-form" fxLayout="column">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastnameToUpdate">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstnameToUpdate">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresse mail</mat-label>
            <input matInput formControlName="emailToUpdate">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numéro de téléphone</mat-label>
            <input matInput formControlName="phoneNumberToUpdate">
        </mat-form-field>
        <div class="details-form-buttons" fxLayout="row">
            <button mat-flat-button class="details-form-button" type="submit" (click)="updateUser()">Modifier</button>
            <button mat-flat-button class="details-form-button" type="submit" (click)="openDialogForDelete()">Supprimer</button>
        </div>
        
    </form>
</main>
