.details-main{
    margin-bottom: 50px;

    .details-picture{
        display: block;
        margin: auto;
        width: 80%;
        height: 300px;
    }

    .details-return-icon{
        width: 50px;
        margin-left: 50%;
        cursor: pointer;
    }

    .details-title{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 50px;
        font-weight: 400;
    }

    .details-form{
        width: 30%;
      
        .details-form-button{
            display: block;
            background-color: black;
            color: white;
            margin: 20px auto;

            &:hover{
                box-shadow: 5px 5px 5px white;
            }
        }
    }
}

.details-passions{
   
    .details-passions-title{
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .mat-flat-button{
        width: 15%;
        font-weight: bold;
        margin-bottom: 20px;

        &:hover{
            box-shadow: 5px 5px 5px black;
        }
    }

    .details-passions-table{
        
    }
}