<main class="home-main">
    <img class="home-picture" src="../../assets/images/banniere.png">
    <h1 class="home-title">Liste des adhérents</h1>
    <div class="home-users" fxLayout="column" fxLayoutAlign="center center">
        <mat-card fxLayoutAlign="center center" (click)="goToUser()">
            <mat-card-title>John DOE</mat-card-title>
        </mat-card>
        <mat-card fxLayoutAlign="center center" (click)="goToUser()">
            <mat-card-title>Marcus JAMES</mat-card-title>
        </mat-card>
        <mat-card fxLayoutAlign="center center" (click)="goToUser()">
            <mat-card-title>Sierra LOPEZ</mat-card-title>
        </mat-card>
        <mat-card fxLayoutAlign="center center" (click)="goToUser()">
            <mat-card-title>Stacey DILAN MILLER JONES</mat-card-title>
        </mat-card>
    </div>
        <button class="home-form-button" mat-flat-button type="submit" (click)="goToCreateUser()">Créer un nouvel adhérent</button>
</main>

