<main class="create-user-main" fxLayout="column" fxLayoutAlign="start center">
    <img class="create-user-picture" src="../../assets/images/banniere.png">
    <a fxFlexAlign="start" routerLink="/home" title="Retour">
        <img src="../../assets/images/return.png" alt="return to home page" class="create-user-return-icon" />
    </a>
    <h2 class="create-user-title">Création d'un nouvel adhérent</h2>
    <form [formGroup]="createForm" class="create-user-form" fxLayout="column" (ngSubmit)="createUser()">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresse mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numéro de téléphone</mat-label>
            <input matInput formControlName="phoneNumber">
        </mat-form-field>
        <button mat-flat-button class="create-user-form-button" type="submit">Créer</button> 
    </form>
</main>
