<div class="details-main" fxLayout="column" fxLayoutAlign="start center">
    <img class="details-picture" src="../../assets/images/banniere.png">
    <a fxFlexAlign="start" routerLink="/users/home" title="Retour">
        <img src="../../assets/images/return.png" alt="return to home page" class="details-return-icon" />
    </a>
    <h2 class="details-title">Informations adhérent</h2>
    <form [formGroup]="updateForm" class="details-form" fxLayout="column">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastnameToUpdate">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstnameToUpdate">
        </mat-form-field>
        <mat-radio-group formControlName="sexToUpdate">
            <mat-radio-button value="femme">Femme</mat-radio-button>
            <mat-radio-button value="homme">Homme</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput formControlName="ageToUpdate">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresse mail</mat-label>
            <input matInput formControlName="emailToUpdate">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numéro de téléphone</mat-label>
            <input matInput formControlName="phoneNumberToUpdate">
        </mat-form-field>
        <div class="details-form-buttons" fxLayout="row">
            <button mat-flat-button class="details-form-button" type="submit" (click)="updateUser()">Modifier</button>
            <button mat-flat-button class="details-form-button" type="submit" (click)="openModalForDelete()">Supprimer</button>
        </div>
    </form>
</div>
<div class="details-passions" fxLayout="column" fxLayoutAlign="center center">
    <div class="details-passions-title">Passions</div>
    <button mat-flat-button (click)="goToAddAPassion()">Ajouter une passion</button>
    <div class="details-passions-table">
        <table>
            <thead>
                <tr>
                    <th>Passion</th>
                    <th>Informations</th>
                    <th>Depuis le</th>
                    <th>Exemples</th>
                    <th></th>
                </tr>
            </thead>
           <tbody>
            <tr *ngFor="let passion of passions$ | async">
                <td>{{getFirstLetterUpper(passion.libelle)}}</td>
                <td>
                    <ul *ngFor="let info of getInformations(passion.informations)!">
                        <li>{{getFirstLetterUpper(info)}}</li>
                    </ul>
                </td>
                <td>{{getDate(passion.sinceWhen)}}</td>
                <td>
                    <ul *ngFor="let example of passion.examples">
                        <li>{{getFirstLetterUpper(example)}}</li>
                    </ul>
                </td>
                <td fwLayout="raw">
                    <img class="table-icon" title="Modifier la passion" src="../../assets/images/update.png" alt="update_passion" (click)="goToUpdatePassion(passion._id!)">
                    <img class="table-icon" title="Supprimer la passion" src="../../assets/images/delete.png" alt="delete_passion" (click)="openModalForDelete(passion._id!)">
                </td>
            </tr>
           </tbody>
            
        </table>
    </div>
    
    <!--<ul *ngFor="let passion of passions$ | async">
        <li>{{passion.libelle}}</li>
    </ul>-->
    

  
</div>
